@model Register_System.Models.Session

@{
    ViewBag.Title = "CheckInController";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Check In</h2>
<h4>Please enter the code provided to you</h4>

<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "")

    if (Request.IsAuthenticated)
    {
        if (Session["UserType"] != null)
        {
            <div class="col-xs-3">
                @Html.Label("One time code:")
                @Html.TextBoxFor(m => m.UniqueCode, new { @class = "form-control" })
                <p> @Html.ValidationMessageFor(m => m.UniqueCode) </p>

                <br />

                <p style="text-align:center">
                    <input type="submit" value="Check-In" class="btn btn-success btn-outline-secondary" />
                </p>
            </div>
        }
        else
        {

        }
    }
    else
    {

    }

}


